<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <!-- Header dengan Navbar -->
    <header>
        <div class="header-left">
            <a href="/" class="logo-link"><h1>Simulasi Monte Carlo</h1></a>
        </div>
        <div class="header-right">
            <i class="ph ph-list" id="menu-icon" style="display: none;"></i> <!-- Tombol menu -->
            <i class="ph ph-x" id="close-icon" style="display: none;"></i> <!-- Tombol close -->
            <nav id="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/data_historis">Data Historis</a></li>
                    <li><a href="/perhitungan_monte_carlo">Perhitungan Monte Carlo</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Konten About -->
    <main id="about-content" class="about-page">
        <!-- Bagian Profil -->
        <section>
            <div class="profile-wrapper">
                <img src="static/image.jpg" alt="Profile Picture" class="about-img">
                <div class="profile-info">
                    <h2 class="about-title">Jafar/Difar</h2>
                    <p>Hai! Perkenalkan, nama saya Jafar. Saya merupakan mahasiswa aktif di Universitas Bale Bandung, tempat saya mengejar mimpi-mimpi besar di kota yang penuh kenangan, Bandung. Saya lahir dan besar di sini, jadi Bandung sudah seperti rumah bagi saya.
                        Di kampus, saya aktif dalam berbagai kegiatan, mulai dari organisasi mahasiswa hingga klub-klub kreatif yang selalu memacu saya untuk berpikir di luar kotak. Saya menyukai suasana akademis yang penuh tantangan dan inspirasi, serta persahabatan yang terjalin dengan sesama mahasiswa yang memiliki semangat belajar yang sama.
                        Selain itu, saya juga menyukai eksplorasi kuliner di Bandung. Menikmati sajian-sajian lokal di warung-warung kecil yang seringkali menyimpan cerita-cerita unik di balik setiap hidangan. Bandung memang tidak pernah kehabisan tempat menarik untuk dijelajahi, baik dari segi kuliner, budaya, maupun keindahan alamnya.
                        Hobi lain yang saya tekuni adalah fotografi. Mengabadikan momen-momen kecil yang seringkali terlewatkan dalam rutinitas sehari-hari memberikan kepuasan tersendiri. Melalui lensa kamera, saya bisa melihat dunia dengan perspektif yang berbeda, dan itulah yang membuat saya jatuh cinta pada fotografi.
                        Sekarang, saya sedang mempersiapkan proyek akhir saya yang berkaitan dengan inovasi teknologi dalam pendidikan. Saya berharap bisa memberikan kontribusi nyata yang dapat membantu meningkatkan kualitas pendidikan di Indonesia. Setiap langkah yang saya ambil selalu dilandasi dengan semangat dan dedikasi untuk mencapai tujuan yang lebih besar.</p>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Simulasi Monte Carlo. All rights reserved.</p>
    </footer>
</body>
</html>
