<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body class="home">
    <header>
        <div class="header-left">
            <a href="/" class="logo-link"><h1>Simulasi Monte Carlo</h1></a>
        </div>
        <div class="header-right">
            <i class="ph ph-list" id="menu-icon" style="display: none;"></i> <!-- Tombol menu -->
            <i class="ph ph-x" id="close-icon" style="display: none;"></i> <!-- Tombol close -->
            <nav id="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/data_historis">Data Historis</a></li>
                    <li><a href="/perhitungan_monte_carlo">Perhitungan Monte Carlo</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="content">
            <!-- Gambar logo Indomaret di luar elemen .content -->
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Logo_Indomaret.png" alt="Logo Indomaret" class="landscape-img">
            <h1 class="center-title">Selamat datang di Simulasi Monte Carlo</h1>
            <p class="justify">Studi ini berjudul <b>Simulasi Prediksi Penambahan Gerai Indomaret Setiap Tahunnya di Indonesia dengan Metode Monte Carlo Menggunakan Linear Congruential Generator (LCG).</b> Tujuan dari studi ini adalah untuk memprediksi jumlah penambahan gerai Indomaret di Indonesia setiap tahunnya menggunakan metode Monte Carlo. Dengan metode ini, kita bisa menghitung kemungkinan-kemungkinan pertumbuhan gerai berdasarkan faktor-faktor yang mempengaruhi, seperti permintaan pasar dan kebijakan ekspansi. Simulasi ini membantu memberikan gambaran yang lebih jelas tentang bagaimana Indomaret dapat mengembangkan jaringan gerainya di masa depan, serta mengevaluasi potensi risiko yang mungkin muncul dalam proses ekspansi. Melalui simulasi ini, diharapkan dapat memberikan panduan bagi perencanaan dan pengambilan keputusan dalam strategi ekspansi bisnis Indomaret.</p>
            <h1 class="center-title">Tentang Indomaret</h1>
            <p class="justify">Indomaret adalah salah satu jaringan minimarket terbesar di Indonesia. Didirikan pada tahun 1988, Indomaret telah berkembang menjadi salah satu pilihan utama konsumen untuk berbelanja kebutuhan sehari-hari. Dengan lebih dari 18,000 gerai yang tersebar di seluruh Indonesia, Indomaret menawarkan berbagai macam produk mulai dari makanan, minuman, kebutuhan rumah tangga, hingga produk perawatan diri. Visi Indomaret adalah menjadi jaringan retail terbaik yang selalu melayani kebutuhan masyarakat dengan memberikan pelayanan yang ramah, produk berkualitas, dan harga yang terjangkau. Dengan berbagai program loyalitas, seperti Indomaret Card, dan berbagai promosi menarik, Indomaret terus berupaya untuk memberikan pengalaman belanja yang menyenangkan bagi para pelanggannya.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Simulasi Monte Carlo. All rights reserved.</p>
    </footer>
</body>
</html>